.textWrapper {
  max-width: 90%;
  margin: auto;
  text-align: center;
  margin-bottom: 3rem;
}

.text {
  font-family: "europa", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  color: #333;
}

.instaLinksta {
  color: gray;
}

.imageWrapper {
  max-width: 90%;
  margin: auto;
}

.homeLogo:hover {
  transition: opacity 0.2s ease-out;
  opacity: 0.7;
}

/* // Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .textWrapper {
    max-width: 90%;
  }
  .text {
    font-size: 19px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .textWrapper {
    max-width: 960px;
  }
  .text {
    font-size: 22px;
  }
}
