.gridWrapper {
  width: 70%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .gridWrapper {
    width: 85%;
    margin-top: 0;
  }
}
